@use 'colors' as *;

*,
*::after,
*::before {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-family: 'Ubuntu', sans-serif;
}

.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
}
.nav {
	position: sticky;
	top: 0;
	padding: 1.5em 2em;
	background-color: $white;
	z-index: 1000;
	&-box {
		display: flex;
		justify-content: space-between;
		align-items: center;
		&__title {
			color: $black;
			text-decoration: none;
			font-size: 2rem;
			&-text {
				font-size: 1.5rem;
				text-decoration: underline;
			}
		}
		&__list {
			display: flex;
			list-style-type: none;
			&-item {
				margin: 0 1.5em;
				background-repeat: no-repeat;
				background-size: cover;
				width: 2em;
				height: 2em;
				&--heart {
					background-image: url(../../src/img/svg/heart.svg);
				}
				&--basket {
					background-image: url(../../src/img/svg/basket.svg);
				}
				&--account {
					background-image: url(../../src/img/svg/account.svg);
				}
			}
		}
	}
}
.notification {
	padding: 1em;
	background-color: $main-color;
	&-text {
		text-align: center;
		color: $white;
		font-weight: bold;
		font-size: 1.4rem;
	}
}

.header {
	position: relative;
	padding: 1.5em 2em;
	height: 65vh;
	background-image: url(../../dist/img/gautier-salles-CPFV7QS3_Sg-unsplash.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 0 50%;
	z-index: 1;
	&-hero {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.5);
		z-index: -1;
	}
	&-box {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 100%;
		color: $white;
	}
	&-text {
		font-size: 1.8rem;
		&__style {
			color: $main-color;
			font-weight: bold;
		}
		&__name {
			font-weight: bold;
			font-size: 3.5rem;
		}
		&__btn {
			position: relative;
			padding: 0.7em 2em;
			margin-top: 2em;
			font-size: 2rem;
			width: 9.3em;
			color: $white;
			text-decoration: none;
			font-weight: 500;
			border: 0.2em solid $white;
			border-radius: 0.5em;
			overflow: hidden;
			transition: color 0.3s;
			z-index: 1;
			&:hover {
				color: $black;
			}
			&::after {
				position: absolute;
				top: -50%;
				left: -5%;
				transform: rotate(-10deg) translateX(-100%);
				width: 110%;
				height: 180%;
				background-color: $white;
				transition: transform 0.3s;
				z-index: -1;
				content: '';
			}
			&:hover::after {
				transform: translateX(0);
			}
		}
	}
}

.shop {
	padding: 6em 0;
	scroll-margin-top: 6.5em;
	&-title {
		font-size: 3rem;
		color: $main-color;
		text-align: center;
	}
	&-box {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		margin-top: 8em;
		&__shoes {
			position: relative;
			margin: 0 5em 15em;
			width: 32em;
		}
		&__heart {
			position: absolute;
			top: 0;
			right: 0;
			background-image: url(../../src/img/svg/heart.svg);
			background-repeat: no-repeat;
			width: 3em;
			height: 3em;
			cursor: pointer;
		}
		&__item {
			color: $black;
			text-decoration: none;
			&:hover {
				.shop-box__item-top {
					transform: scale(1.05);
				}
			}
			&-top {
				width: 100%;
				object-fit: cover;
				margin-bottom: 5em;
				transition: transform 0.3s;
			}
			&-bottom {
				&--title {
					font-size: 2rem;
				}
				&--text {
					margin: 0.5em 0 1em;
					font-size: 1.5rem;
					color: $grey;
				}
				&--price {
					font-size: 2rem;
					font-weight: bold;
				}
			}
		}
	}
}

.heart-active {
	background-image: url(../../src/img/svg/heart-active.svg);
}

.footer {
	background-color: $main-color;
	&-top {
		padding: 5em 4em 2em;
		color: $white;
		&__title {
			margin-bottom: 2em;
			text-align: center;
			font-size: 2rem;
		}
		&__btns {
			display: flex;
			flex-direction: column;
			align-items: center;
			&-list {
				margin: auto;
				list-style-type: none;
				text-align: center;
				&--item {
					margin-bottom: 2em;
				}
			}
			&-item {
				position: relative;
				font-size: 1.5rem;
				font-weight: bold;
				text-decoration: none;
				color: $white;
				&::after {
					position: absolute;
					bottom: -.1em;
					left: 0;
					width: 100%;
					height: 0.1em;
					transform: scale(0);
					transform-origin: right;
					transition: transform .3s;
					background-color: $white;
					content: '';
				}
				&:hover::after {
					transform: scale(1);
					transform-origin: left;
				}
			}
		}
		&__box {
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin-top: 3em;
		}
		&__icons {
			display: flex;
			&-item {
				width: 3em;
				height: 3em;
				margin: 0 1.5em;
				&--instagram {
					background-image: url(../../src/img/svg/instagram.svg);
				}
				&--tiktok {
					background-image: url(../../src/img/svg/tiktok.svg);
				}
			}
		}
	}
	&-bottom {
		padding: 1em;
		text-align: center;
		font-size: 2rem;
		color: $white;
		background-color: $grey;
	}
}

@media (min-width: 576px) {
	.nav {
		padding: 1.5em 4em;
		&-box {
			&__title {
				font-size: 3rem;
			}
			&__list-item {
				width: 3em;
				height: 3em;
			}
		}
	}
	.header {
		padding: 1.5em 4em;
		&-box {
			align-items: flex-start;
		}
		&-text {
			font-size: 2rem;
			&__name {
				font-size: 5rem;
			}
		}
	}
	.shop {
		padding: 6em 4em 20em;
		&-title {
			font-size: 4rem;
		}
		&-box {
			margin-top: 15em;
			&__shoes {
				margin: 0 5em 5em;
			}
		}
	}
}
@media (min-width: 768px) {
	.header-text {
		font-size: 3rem;
		&__name {
			font-size: 8rem;
		}
	}
	.shop {
		&-title {
			font-size: 6rem;
		}
	}
	.footer-top {
		padding: 7em 4em;
		&__title {
			margin: auto;
			align-items: flex-start;
			text-align: left;
			font-size: 3rem;
		}
		&__btns {
			flex-direction: row;
			&-list {
				margin: 6em 20em 6em 0;
				text-align: left;
				&--item {
					margin: 1.5em 0;
				}
			}
			&-item {
				font-size: 1.8rem;
			}
		}
		&__box {
			margin: auto;
		}
	}
}
@media (min-width: 992px) {
}
